/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Importar Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Aplicar a todo el proyecto */
* {
  font-family: 'Montserrat', sans-serif !important;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #1B4965 !important;
}
ion-popover{
    --width: 400px !important;
}


:root {
  /** Color principal (modo claro) **/
  --ion-color-primary: #1B4965;
  --ion-color-primary-rgb: 27, 73, 101;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #173d56;
  --ion-color-primary-tint: #326079;
  --ion-background-color: #ffffff; /* claro */
  --ion-text-color: #000; /* claro */
}

/* Modo oscuro */
body.dark {
  --ion-color-primary: #4cc9f0;
  --ion-color-primary-rgb: 76, 201, 240;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #3aa7c4;
  --ion-color-primary-tint: #66d2f3;
  --ion-background-color: #000000; /* oscuro */
  --ion-text-color: #fff; /* oscuro */
}




