.segment-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  flex-direction: column;
}

.feed-video {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 12px;
  background: #000;
}

.feed-placeholder {
  background-image: url('/fondo_camara.png');
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border-radius: 12px;
  color: #666;
  width: 80%;
}

.feed-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.feed-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

