ion-toast::part(button) {
    border-radius: 20px;
    border: 1px solid gray;
    background: gray;
    padding: 5px;
    margin: 5px;
}

.mantenedores-popover {
  --ion-safe-area-top: 0;
  --ion-safe-area-bottom: 0;
  --ion-safe-area-left: 0;
  --ion-safe-area-right: 0;
}
ion-popover {
  --width: auto;
  --max-width: 90vw;
}

ion-fab {
  z-index: 1000;
}

ion-fab-button {
  --background: var(--ion-color-primary);
  --background-activated: #0f2d3e;
  --background-hover: #15374f;
  transition: transform 0.2s ease, background 0.2s ease; /* transición suave */
}

ion-fab-button:hover {
  transform: scale(1.05); /* aumenta tamaño */
}

.global-loading{
    display: flex;
    justify-content: center;
}
.spinner-descarga {
    width: 20px;
    height: 20px;
    --color: #fff;
}

.custom-content {
    background-color: rgb(0, 0, 0);
    border-top-left-radius:30%  ; /* borde superior izquierdo */
    border-bottom-left-radius: 15px; /* borde inferior izquierdo */
    border-top-right-radius: 0;      /* opcional, otros bordes sin redondear */
    border-bottom-right-radius: 0;
}

.modal-descripcion {
    --width: 60%;
    --height: 90%;
    --border-radius: 20px;
}
.video-clip{
    width: 50%;
}
.popover-mantenedores {
    --width: 300px !important;
}

.home-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #1B4965;
}

@media (max-width: 480px) {
    .modal-descripcion {
        --width: 100%;
        --height: 100%;
        --border-radius: 20px;
    }
    .video-clip{
        width: 100%;
    }
}

/* Para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    .modal-descripcion {
        --width: 100%;
        --height: 100%;
        --border-radius: 20px;
    }
    .video-clip{
        width: 80%;
    }

    .fixed-popover {
        position: fixed !important;
        top: -200px !important;
        left: 20px !important;
        right: auto !important;
        transform: none !important;
        }
}

@media (max-width: 480px) {
    
    .fixed-popover {
        position: fixed !important;
        top: -200px !important;
        left: 10px !important;
        right: auto !important;
        transform: none !important;
    }
}