.cameras-modal {
  --width: 90%;
  --max-width: 600px;
  --height: 90%;
  --border-radius: 20px;
}

.cameras-list{
  width: 100%;
}

.cameras-list ion-card {
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 100%;
}

.cameras-list ion-card:hover {
  transform: translateY(-2px);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.action-buttons ion-button {
  --border-radius: 8px;
}

/* Estilos para los estados */
ion-chip.success {
  background: var(--ion-color-success);
  color: white;
}

ion-chip.medium {
  background: var(--ion-color-medium);
  color: white;
}

.alert-button-inner{
    color:white !important;
}