.item-nav {
  cursor: pointer;
  --background: var(--ion-background-color);
}

ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.leaflet-polygon-florida {
  stroke: var(--ion-color-primary); /* color del borde */
  stroke-opacity: 0.8;
  stroke-width: 2;
  fill-opacity: 0; /* sin relleno */
}



.custom-alert .alert-button-group {
  padding: 8px;
}

button.alert-button.alert-button-confirm {
  background: var(--ion-color-danger, #c5000f);
  color: var(--ion-color-primary-contrast);
}

button.alert-button.alert-button-cancel {
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

/* Estilo específico para Material Design */
.md button.alert-button.alert-button-confirm {
  border-radius: 4px;
}

/* Estilo específico para iOS */
.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel {
  border-right: 0;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.ios button.alert-button.alert-button-confirm {
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
}

/* Logo por defecto (modo claro) */
.logo-comuvigia {
  height: 50px;
  content: url("/comuvigia.png");
}

/* Logo en modo oscuro */
@media (prefers-color-scheme: dark) {
  .logo-comuvigia {
    content: url("/comuvigia_claro.png");
  }
}
